/*<meta />*/

@media only screen and (max-width: 767px)
{
	.toolbar-buttons
	{
		top: 77px;
	}

	.button
	{
		background-position: center center;
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.print-button
	{
		display: none;
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.remove-highlight-button
	{
		display: none;
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	#contentBodyInner
	{
		top: 114px;
	}

	.tree-node .new-indicator
	{
		width: 7px;
		height: 7px;
	}

	#index .tree-node > div
	{
		
	}

	#navigation
	{
		
	}

	.tab
	{
		
	}

	.tab-collapsed .tabs-nav-text
	{
		
	}

	.tabs
	{
		
	}

	.tabs li
	{
		
	}

	.tabs li span
	{
		
	}

	.tabs-nav
	{
		
	}

	.tabs-nav li
	{
		
	}

	.tabs-nav li
	{
		
	}

	.tabs-nav li div span
	{
		
	}

	.tab-icon #TocTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/icon-contents-17x17.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/icon-index-17x17.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/icon-glossary-17x17.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/icon-browseSequence-17x17.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/communityInactive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/icon-filter-17x17.png') no-repeat 11px center;
	}

	.tab-icon #TocTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/icon-contents-17x17.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background-repeat: no-repeat;
		background: transparent url('Images/icon-index-17x17.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/icon-glossary-17x17.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/icon-browseSequence-17x17.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/communityActive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/icon-filter-17x17.png') no-repeat 11px center;
	}

	.tabs-panel
	{
		
	}

	.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#search-sidebar
	{
		
	}

	#home
	{
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: -moz-linear-gradient(top, #45494C 0%, #45494C 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45494C), color-stop(100%,#45494C));
		background: -webkit-linear-gradient(top, #45494C 0%, #45494C 100%);
		background: -o-linear-gradient(top, #45494C 0%,#45494C 100%);
		background: -ms-linear-gradient(top, #45494C 0%,#45494C 100%);
		background: linear-gradient(#45494C 0%,#45494C 100%);
		-pie-background: linear-gradient(#45494C, #45494C);
	}

	#home-text
	{
		line-height: 40px;
	}

	#home-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	#responsiveHeader .logo
	{
		width: 229px;
		background: transparent url('Images/Logo.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/Logo.png') no-repeat center center;
	}

	#responsiveHeader .logo > img
	{
		width: 229px;
		height: 55px;
	}

	/* Navigation slide out Styles*/

	#contentBody[role="main"]
	{
		width: 100%;
	}

	.hide-extras.active [role="main"]
	{
		width: 80%;
	}

	.hide-extras.active #navigation[role="complementary"]
	{
		width: 80%;
		display: block;
	}

	.active #contentBody[role="main"]
	{
		margin-right: -80%;
	}

	/*Offcanvas styles for pane position set right*/

	html.right-layout .active #contentBody[role="main"]
	{
		margin-right: 80%;
	}

	.non-collapsable
	{
		width: 100%;
	}

	.show-for-xlarge-up
	{
		display: none !important;
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		max-height: 200px;
	}

	.central-dropdown
	{
		
	}

	.central-dropdown .central-account-drop
	{
		
	}

	.central-account-wrapper
	{
		left: 60px;
		right: auto;
	}

	.central-dropdown:hover
	{
		
	}

	.central-account-image
	{
		background: transparent url('Images/Icon-User-White.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/Icon-User-White.png') no-repeat center center;
	}

	.central-dropdown-content
	{
		background-color: #FFFFFF;
	}

	.central-dropdown-content a
	{
		
	}

	.knowledge-panel-container .micro-response-title a:visited
	{
		
	}

	#resultList .glossary .term a:visited
	{
		
	}

	.featured-snippets-container .micro-response-title a:visited
	{
		
	}

	#resultList .title a:visited
	{
		
	}

	.knowledge-panel-container .micro-response-title a:focus
	{
		
	}

	#resultList .glossary .term a:focus
	{
		
	}

	.featured-snippets-container .micro-response-title a:focus
	{
		
	}

	#resultList .title a:focus
	{
		
	}

	.central-dropdown-content a:hover
	{
		
	}

	.knowledge-panel-container .micro-response-title a:hover
	{
		
	}

	#resultList .glossary .term a:hover
	{
		
	}

	.featured-snippets-container .micro-response-title a:hover
	{
		
	}

	#pagination a:hover
	{
		
	}

	#resultList .title a:hover
	{
		
	}

	.knowledge-panel-container .micro-response-title a:active
	{
		
	}

	#resultList .glossary .term a:active
	{
		
	}

	.featured-snippets-container .micro-response-title a:active
	{
		
	}

	#resultList .title a:active
	{
		
	}

	.central-separator
	{
		background-color: #DADEE1;
	}

	.featured-snippets-container
	{
		
	}

	#responsiveHeader
	{
		background: #076685 none;
		-pie-background: #076685;
	}

	#knowledge-panel
	{
		order: 0;
		display: none;
	}

	#search-results-flex
	{
		
	}

	.knowledge-panel-container
	{
		
	}

	#knowledge-panel-middle
	{
		display: block;
	}

	.knowledge-panel-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-phrase span
	{
		
	}

	.knowledge-panel-container .micro-content-phrase
	{
		
	}

	.knowledge-panel-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.knowledge-panel-container .micro-response
	{
		
	}

	.knowledge-panel-container .micro-response-title a
	{
		
	}

	.knowledge-panel-container .micro-response-title
	{
		
	}

	.knowledge-panel-container .micro-response-url cite
	{
		
	}

	.knowledge-panel-container .micro-response-url
	{
		
	}

	.knowledge-panel-container .micro-content
	{
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#FFFFFF));
		background: -webkit-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -o-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: -ms-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: linear-gradient(transparent 0%,#FFFFFF 100%);
		-pie-background: linear-gradient(transparent, #FFFFFF);
	}

	body
	{
		background: #076685 none;
		-pie-background: #076685;
	}

	#browseSequences.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#community.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#glossary.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#index.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#index .tree-node.tree-node-expanded > div
	{
		padding-left: 37px;
		background: transparent url('Images/index-expanded.png') no-repeat left 10px center;
	}

	#index .tree-node.tree-node-collapsed > div
	{
		padding-left: 37px;
		background: transparent url('Images/index-collapsed.png') no-repeat left 10px center;
	}

	#index .tree-node.tree-node-leaf > div
	{
		padding-left: 37px;
	}

	#search.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#toc.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	.tree-node div .label
	{
		
	}

	.tree-node div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected > div
	{
		background-color: #076685;
	}

	.tree-node.tree-node-expanded.tree-node-selected > div
	{
		background-color: #076685;
	}

	.tree-node.tree-node-collapsed.tree-node-selected > div
	{
		background-color: #076685;
	}

	#index .tree-node.tree-node-leaf.tree-node-selected > div
	{
		background-color: #076685;
		background-position: 10px center;
	}

	#index .tree-node.tree-node-expanded.tree-node-selected > div
	{
		background-color: #076685;
	}

	#index .tree-node.tree-node-collapsed.tree-node-selected > div
	{
		background-color: #076685;
	}

	.menu-icon button span
	{
		background: transparent url('Images/HamburgerIcon-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/HamburgerIcon-white.png') no-repeat center center;
	}

	.tabs-nav li.tab-collapsed
	{
		
	}

	.tabs-nav li.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#CommunityTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#GlossaryTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#IndexTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#SearchTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#TocTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li.tabs-nav-inactive .tabs-nav-text
	{
		
	}

	.tabs-nav li.tabs-nav-inactive
	{
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
		background-clip: padding-box;
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#CommunityTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#GlossaryTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#IndexTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#SearchTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#TocTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.search-account-container
	{
		
	}

	#resultList .glossary .definition
	{
		
	}

	#resultList .glossary
	{
		background-position: center center;
	}

	#resultList .glossary .term
	{
		
	}

	#resultList .glossary .term a
	{
		
	}

	#results-heading
	{
		
	}

	#search-field-sidebar
	{
		background: #ffffff url('Images/icon-searchGray-17x17.png') no-repeat 8px center;
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff 0%,#ffffff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff, #ffffff);
	}

	#responsive-search-index
	{
		background: #ffffff url('Images/icon-searchGray-17x17.png') no-repeat 8px center;
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff 0%,#ffffff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff, #ffffff);
	}

	#responsive-search-glossary
	{
		background: #ffffff url('Images/icon-searchGray-17x17.png') no-repeat 8px center;
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff 0%,#ffffff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff, #ffffff);
	}

	#search-field::-webkit-input-placeholder
	{
		
	}

	#search-field::-moz-placeholder
	{
		
	}

	#search-field:-moz-placeholder
	{
		
	}

	#search-field:-ms-input-placeholder
	{
		
	}

	.featured-snippets-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.featured-snippets-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-phrase span
	{
		
	}

	.featured-snippets-container .micro-content-phrase
	{
		
	}

	.featured-snippets-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.featured-snippets-container .micro-response
	{
		
	}

	.featured-snippets-container.micro-content-truncated-mode .micro-response
	{
		
	}

	.featured-snippets-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.featured-snippets-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.featured-snippets-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#FFFFFF));
		background: -webkit-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -o-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: -ms-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: linear-gradient(transparent 0%,#FFFFFF 100%);
		-pie-background: linear-gradient(transparent, #FFFFFF);
	}

	.featured-snippets-container .micro-response-title a
	{
		
	}

	.featured-snippets-container .micro-response-title
	{
		
	}

	.featured-snippets-container .micro-response-url cite
	{
		
	}

	.featured-snippets-container .micro-response-url
	{
		
	}

	.featured-snippets-container .micro-content
	{
		background-position: center center;
	}

	#pagination
	{
		line-height: 40px;
	}

	#pagination a
	{
		
	}

	#pagination a#selected
	{
		
	}

	#resultList .description
	{
		
	}

	#resultList .title a
	{
		
	}

	#resultList .url cite
	{
		
	}

	#resultList
	{
		
	}

	.button > div
	{
		
	}

	.button .button-icon
	{
		
	}

	.button .button-icon-wrapper
	{
		
	}

	.button .button-text
	{
		
	}

	.button.collapse-all-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.current-topic-index-button .button-icon-wrapper
	{
		
	}

	.button.edit-user-profile-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.expand-all-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.login-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.next-topic-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.previous-topic-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.select-language-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.select-skin-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.topic-ratings-button
	{
		background: transparent url('Images/star-full.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-full.png') no-repeat center center;
	}

	.button.topic-ratings-empty-button
	{
		background: transparent url('Images/star-empty.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-empty.png') no-repeat center center;
	}

	.toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #DADEE1;
	}

	.toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #DADEE1;
	}

	.button-separator
	{
		background-color: #45494C;
	}

	#contentBody
	{
		background-repeat: no-repeat;
		background-color: #076685;
	}
}

