/*<meta />*/

/* DEBUG log styles */

#DEBUG_Log
{
	background-color: #CCCCCC;
	border: solid 2px black;
	width: 275px;
	top: 50px;
	right: 25px;
	position: fixed;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 99999;
	display: none;
}

html.DEBUG #DEBUG_Log
{
	display: block;
}

.MCDebugLogHeader
{
	border-bottom: solid 1px black;
	font-size: 14px;
	font-weight: bold;
	padding: 1ex;
}

.MCDebugLogBody
{
	background-color: #FFFFFF;
	font-family: Monospace;
	font-size: 11px;
	height: 200px;
	overflow: auto;
}

.MCDebugLogEntry
{
	border-bottom: solid 1px #AAAAAA;
}

.MCDebugLogEntryTime
{
	color: #777777;
	margin: 0;
}

@media screen
{
	.column,
	.columns
	{
		height: 100%;
	}

	.expand-for-small-10
	{
		width: 100%;
	}
}

.MCDebugLogFooter
{
	padding: 1ex;
}

/**/

html,
body
{
	height: 100%;
}

html
{
	overflow: hidden;
	/* IE 7: without this, IE 7 displays a scrollbar */
}

body
{
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	background: #076685 none;
	-pie-background: #076685;
}

#header
{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	/* IE7 z-index bug: positioned elements (#header) generate a new stacking context starting with a z-index value of 0. This causes .search-filter-content's z-index not to work. So set #header's z-index (don't really need to set .search-filter-content's z-index but we'll leave it). http://www.quirksmode.org/bugreports/archives/2006/01/Explorer_z_index_bug.html */
	display: block;
	height: 100px;
}

#header .logo
{
	position: absolute;
	top: 50%;
	margin-left: 20px;
	display: block;
	background: transparent url('Images/Logo.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/Logo.png') no-repeat center center;
	width: 229px;
	height: 55px;
	margin-top: -27.5px;
}

#header .logo > img
{
	border: none;
	width: 229px;
	height: 55px;
}

#body
{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	top: 100px;
}

#navigation
{
	width: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
}

html.left-layout #navigation
{
	left: 0;
}

html.right-layout #navigation
{
	right: 0;
}

#navigation.nav-closed
{
	display: none;
}

#navigationResizeBar
{
	width: 4px;
	position: absolute;
	top: 0;
	bottom: 0;
	cursor: col-resize;
	z-index: 9999;
}

#navigationResizeBar.nav-closed
{
	cursor: default;
}

html.left-layout #navigationResizeBar
{
	left: 300px;
}

html.right-layout #navigationResizeBar
{
	right: 300px;
}

html.left-layout #navigationResizeBar.nav-closed
{
	left: 0;
}

html.right-layout #navigationResizeBar.nav-closed
{
	right: 0;
}

#show-hide-navigation
{
	border: none;
	padding: 0;
	background-color: #CDE0E7;
}

.showOnFocus:not(:focus)
{
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

html.left-layout #show-hide-navigation
{
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	-webkit-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	width: 10px;
	height: 46px;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	left: 0px;
	cursor: pointer;
}

html.left-layout #show-hide-navigation:after
{
	content: "";
	border: solid 6px transparent;
	border-right-width: 6px;
	border-left: none;
	position: absolute;
	top: 50%;
	right: 0;
	left: 50%;
	margin-top: -6px;
	margin-left: -3px;
	width: 0;
	height: 0;
	color: #FFFFFF;
	border-right-color: #FFFFFF;
}

html.left-layout .nav-closed #show-hide-navigation:after
{
	border-left-style: solid;
	border-left-width: 6px;
	border-right: none;
	border-left-color: #FFFFFF;
}

html.right-layout #show-hide-navigation
{
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	-webkit-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.3);
	width: 10px;
	height: 46px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -23px;
	cursor: pointer;
}

html.right-layout #show-hide-navigation:after
{
	content: "";
	border: solid 6px transparent;
	border-left-color: #898989;
	border-left-width: 6px;
	border-right: none;
	position: absolute;
	top: 50%;
	right: 0;
	left: 50%;
	margin-top: -6px;
	margin-left: -3px;
	width: 0;
	height: 0;
}

html.right-layout .nav-closed #show-hide-navigation:after
{
	border-right-style: solid;
	border-right-color: #898989;
	border-right-width: 6px;
	border-left: none;
}

#mousemove-sheet
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: col-resize;
	z-index: 10000;
	/* IE needs these or else the mouseup event doesn't fire on the mousemove-sheet */
	background-color: White;
	opacity: 0;
	filter: alpha(opacity=0);
	/**/
}

.button.pulse-required,
.button.feedback-required,
.pulse-required,
.feedback-required,
.feedback-topic-required,
.feedback-topic-required
{
	display: none;
}

.pulse-active .pulse-required,
.feedback-active .feedback-required,
.feedback-active.has-topic .feedback-topic-required
{
	display: inline-flex;
}

/* Tabs */

.tabs
{
	
}

.tabs-nav li#GlossaryTab.tab-collapsed,
.tabs-nav li#CommunityTab.tab-collapsed,
.tabs-nav li#IndexTab.tab-collapsed,
.tabs-nav li#TocTab.tab-collapsed
{
	width: auto;
}

.tab-collapsed .tabs-nav-text
{
	display: none;
}

.tabs-nav-icon
{
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 5px;
}

.image-then-text .tabs-nav-text
{
	float: left;
}

.image-then-text .tabs-nav-icon
{
	float: left;
}

.text-then-image .tabs-nav-icon
{
	float: right;
}

.text-then-image .tabs-nav-text
{
	float: right;
}

.text-only .tabs-nav-icon
{
	display: none;
}

.text-only .tabs-nav-text
{
	display: inline;
	padding: 0px 3px;
}

.image-only .tabs-nav-icon
{
	display: inline-block;
}

.image-only .tabs-nav-text
{
	display: none;
}

#TocTab
{
	
}

.tabs-nav .tab-collapsed
{
	width: auto;
}

#IndexTab
{
	
}

#GlossaryTab
{
	
}

#BrowseSequencesTab
{
	
}

#CommunityTab
{
	
}

#SearchTab
{
	display: none;
}

.tabs-nav-text
{
	
}

.tabs-nav
{
	margin: 0;
	padding: 0;
}

.tab .tabs-panel
{
	display: none;
}

.tab.active .tabs-panel
{
	display: block;
}

#home
{
	display: none;
}

/*Search Styles*/

#responsive-search-index,
#responsive-search-glossary
{
	display: none;
}

.tabs-panel-search
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 3px;
	background-repeat: no-repeat;
	color: #000000;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.tabs-panel-content.searchable
{
	top: 41px;
}

.tabs-panel-content.loading
{
	background: url("Images/loading-32px.gif") no-repeat center center;
}

.login-dialog
{
	display: none;
	z-index: 10001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -175px;
	width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.login-dialog.pulse
{
	width: 408px;
	height: 428px;
	margin-left: -204px;
	margin-top: -214px;
}

#pulse-login-frame
{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.login-dialog-header
{
	height: 36px;
	line-height: 36px;
	padding-left: 50px;
	/* Old browsers */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	/* W3C */
	/*PIE*/
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	border-bottom: solid 1px #45494C;
	background: #45494C url('Images/login-dialog-icon.png') no-repeat 18px center;
	background: url('Images/login-dialog-icon.png') no-repeat 18px center, -moz-linear-gradient(top, #45494C 0%, #45494C 100%);
	background: url('Images/login-dialog-icon.png') no-repeat 18px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45494C), color-stop(100%,#45494C));
	background: url('Images/login-dialog-icon.png') no-repeat 18px center, -webkit-linear-gradient(top, #45494C 0%, #45494C 100%);
	background: url('Images/login-dialog-icon.png') no-repeat 18px center, -o-linear-gradient(top, #45494C 0%,#45494C 100%);
	background: url('Images/login-dialog-icon.png') no-repeat 18px center, -ms-linear-gradient(top, #45494C 0%,#45494C 100%);
	background: url('Images/login-dialog-icon.png') no-repeat 18px center, linear-gradient(#45494C 0%,#45494C 100%);
	-pie-background: url('Skins/Default/Stylesheets/Images/login-dialog-icon.png') no-repeat 18px center, linear-gradient(#45494C, #45494C);
}

.login-dialog-content
{
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 17px;
	border-top: solid 1px #A4AAAE;
	background-color: #45494C;
}

.login-dialog-content .profile-item-wrapper
{
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
	color: #DADEE1;
}

.login-dialog-content .profile-item-wrapper .label-wrapper
{
	margin-bottom: 5px;
	float: left;
}

.login-dialog-content .profile-item-wrapper .input-wrapper
{
	float: right;
}

.login-dialog-content .profile-item-wrapper input[type=text]
{
	margin: 0;
	padding: 5px;
	border: solid 1px #191919;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
	outline: none;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper
{
	margin-top: 15px;
	height: auto;
	line-height: normal;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper .label-wrapper
{
	float: none;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper .email-notifications-group
{
	margin-right: 0;
	padding: 12px;
	background-color: #4A4A4A;
	background-repeat: no-repeat;
	background-position: center center;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
}

.login-dialog-content .profile-item-wrapper.error input,
.login-dialog-content .profile-item-wrapper.error select
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.login-dialog-buttons
{
	text-align: right;
}

.login-dialog button
{
	margin-left: 5px;
	margin-right: 0;
	padding: 8px 26px;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* Old browsers */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	/* W3C */
	/*PIE*/
	background-position: center center;
	cursor: pointer;
	color: #FFFFFF;
	font-weight: bold;
	background-repeat: no-repeat;
	border-left: solid 1px #45494C;
	border-right: solid 1px #45494C;
	border-top: solid 1px #45494C;
	border-bottom: solid 1px #45494C;
	background: #45494C;
	background: -moz-linear-gradient(top, #45494C 0%, #45494C 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45494C), color-stop(100%,#45494C));
	background: -webkit-linear-gradient(top, #45494C 0%, #45494C 100%);
	background: -o-linear-gradient(top, #45494C 0%,#45494C 100%);
	background: -ms-linear-gradient(top, #45494C 0%,#45494C 100%);
	background: linear-gradient(#45494C 0%,#45494C 100%);
	-pie-background: linear-gradient(#45494C, #45494C);
}

.login-dialog button.close-dialog
{
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	background-image: url('Images/close.png');
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.login-dialog .status-message-box
{
	display: none;
	color: #0F0;
	text-align: center;
	margin-top: 16px;
	padding: 12px;
	background-color: #DCFEDC;
	border: solid 1px #0F0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login-dialog .status-message-box.error
{
	color: #F00;
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.login-dialog .status-message-box .message
{
	display: none;
}

/* TOC */

#toc
{
	
}

ul.tree.inner
{
	padding-left: 19px;
}

ul.tree
{
	color: #707070;
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-type: none;
	white-space: nowrap;
}

.tree-node-expanded > ul
{
	display: block;
}

.tree-node-collapsed > ul
{
	display: none;
}

.tree-node div
{
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0 3px;
	position: relative;
	color: #45494C;
	line-height: 1.9em;
}

.tree-node div.GlossaryPageTerm .label
{
	margin: 0 5px;
}

.tree-node .IndexTerm
{
	padding-left: 16px;
}

.tree-node .new-indicator
{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 3px;
	background: transparent url('Images/new-indicator.png') no-repeat;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/new-indicator.png') no-repeat;
	width: 12px;
	height: 7px;
}

.tree-node-inner > div
{
	
}

.tree-node.tree-node-collapsed > div
{
	background: transparent url('Images/book_17x17.png') no-repeat 0 3px;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	padding-left: 22px;
}

.tree-node.tree-node-expanded > div
{
	background: transparent url('Images/book_17x17.png') no-repeat 0 3px;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	padding-left: 22px;
}

.tree-node.tree-node-leaf > div
{
	background: transparent url('Images/icon-page-gray-17x17.png') no-repeat 0 3px;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-page-gray-17x17.png') no-repeat 0 3px;
	padding-left: 22px;
}

.tree-node.tree-node-selected > div,
.web .tree-node.tree-node-selected > div:hover
{
	background-color: #CCE0F0;
}

.web .tree-node > div:hover
{
	background-color: #E5EFF7;
	background-repeat: no-repeat;
}

.tree-node a
{
	color: inherit;
	text-decoration: none;
}

.tree-node.tree-node-selected
{
	color: #000;
}

/* Index */

#index
{
	
}

#index .index-wrapper
{
	position: relative;
}

#index ul
{
	
}

#index .tree-node
{
	
}

#index .tree-node div
{
	
}

#index .tree-node.tree-node-collapsed > div
{
	background: transparent url('Images/arrow.png') no-repeat 0 3px;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow.png') no-repeat 0 3px;
	padding-left: 10px;
}

#index .tree-node.tree-node-expanded > div
{
	background: transparent url('Images/arrowTurn.png') no-repeat 0 3px;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrowTurn.png') no-repeat 0 3px;
	padding-left: 12px;
}

#index .tree-node.tree-node-leaf > div
{
	background: transparent url('Images/index.png') no-repeat 0 3px;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/index.png') no-repeat 0 3px;
	padding-left: 15px;
}

#index .tree-node.tree-node-selected > div,
.web #index .tree-node.tree-node-selected > div:hover
{
	
}

.web #index .tree-node > div:hover
{
	
}

#index .tree-node a
{
	color: inherit;
	text-decoration: none;
}

#index .tree-node.tree-node-selected
{
	
}

.see,
.see-also
{
	font-style: italic;
}

/* Glossary */

#glossary
{
	
}

#glossary .tree-node
{
	
}

#glossary .tree-node div
{
	background-image: none;
	padding-left: 0;
}

#glossary .GlossaryPageEntry .GlossaryPageTerm
{
	display: block;
}

#glossary .GlossaryPageEntry .GlossaryPageDefinition
{
	background-color: inherit;
	cursor: inherit;
	white-space: normal;
	margin: 0;
	padding-left: 18px;
	color: #45494C;
}

#glossary .tree-node a
{
	color: inherit;
	text-decoration: none;
}

/* Community */

#community
{
	overflow: hidden;
	height: 100%;
}

#community-frame-html5
{
	width: 100%;
	height: 100%;
	border: none;
}

/* Topic */

#contentBody
{
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	left: 5px;
	background-color: #076685;
}

html.left-layout.no-tabs #contentBody,
html.right-layout.no-tabs #contentBody
{
	left: 5px;
	right: 5px;
}

html.left-layout #contentBody
{
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
	left: 305px;
	right: 0;
	float: right;
}

html.left-layout #contentBody.nav-closed
{
	left: 5px;
}

html.right-layout #contentBody
{
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
	left: 0;
	right: 305px;
}

html.right-layout #contentBody.nav-closed
{
	right: 5px;
}

#contentBodyInner
{
	background-color: #FFF;
	border-top: solid 1px #E1E1E1;
	border-right: solid 1px #E1E1E1;
	border-left: solid 1px #E1E1E1;
	position: absolute;
	right: 9px;
	bottom: 0;
	left: 9px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	top: 44px;
}

iframe.content
{
	position: absolute;
	/* need this for IE 7 otherwise it'll treat width/height as "auto" */
	border: none;
	width: 100%;
	height: 100%;
}

#search-results-flex
{
	display: flex;
	flex-direction: row;
	margin: 8px;
	column-gap: 25px;
}

html[dir='rtl'] #search-results-flex
{
	flex-direction: row-reverse;
}

/* Search */

#knowledge-panel
{
	flex: 0 0 auto;
	width: 26%;
	order: 1;
	display: block;
}

#searchPane
{
	flex: 1 1 auto;
}

#contentBodyInner
{
	
}

.search-bar
{
	border: solid 1px #363636;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 1px #7D7D7D;
	-moz-box-shadow: 0px 1px #7D7D7D;
	position: relative;
	float: left;
	display: block;
	border-left: solid 0px #45494C;
	border-right: solid 0px #45494C;
	border-top: solid 0px #45494C;
	border-bottom: solid 0px #45494C;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-box-shadow: 0px 1px 0px #A4AAAE;
	-moz-box-shadow: 0px 1px 0px #A4AAAE;
	box-shadow: 0px 1px 0px #A4AAAE;
	-webkit-box-shadow: 0px 1px 0px #A4AAAE;
	-moz-box-shadow: 0px 1px 0px #A4AAAE;
	margin-top: 14px;
}

.tab
{
	float: left;
}

.tabs-nav li
{
	cursor: pointer;
	list-style: none;
	float: left;
	margin-top: 3px;
	width: 100px;
	height: 28px;
	navigation-tab-layout: ImageThenText;
	text-align: center;
	line-height: 28px;
}

.tabs-nav li.tabs-nav-inactive
{
	-webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2);
	/* Old browsers */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	/* W3C */
	/*PIE*/
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background-clip: padding-box;
	color: #DADEE1;
	border-right: solid 0px #45494C;
	border-top: solid 0px transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	background: #076685;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.tabs-nav li.tabs-nav-active
{
	/* Old browsers */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	/* W3C */
	/*PIE*/
	margin-top: 0;
	color: #45494C;
	border-right: solid 0px #45494C;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	text-shadow: 0px 1px 0px #FFFFFF;
	-webkit-text-shadow: 0px 1px 0px #FFFFFF;
	-moz-text-shadow: 0px 1px 0px #FFFFFF;
	background: #CDE0E7;
	background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
	background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
	-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
}

.tabs-panels
{
	height: 100%;
	background-color: #F7F7F7;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	padding: 7px;
}

.tabs-panel
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	padding: 7px;
	top: 28px;
	background-color: #CDE0E7;
}

.tabs-panel-content
{
	border: solid 1px #E1E1E1;
	border-bottom: none;
	position: absolute;
	top: 8px;
	right: 7px;
	bottom: 0;
	left: 7px;
	padding: 8px 7px 0 7px;
	overflow: auto;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 8px;
	border-left: solid 0px #DADEE1;
	border-right: solid 0px #DADEE1;
	border-top: solid 0px #DADEE1;
	background-color: #CDE0E7;
}

#responsiveHeader
{
	display: none;
	background: #076685 none;
	-pie-background: #076685;
}

#responsiveHeader .logo
{
	height: 100%;
	display: block;
	width: 229px;
	background: transparent url('Images/Logo.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/Logo.png') no-repeat center center;
}

#responsiveHeader .logo > img
{
	width: 229px;
	height: 55px;
}

#search-field,
.search-field
{
	border: none;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
	color: #DADADA;
	background: #6F6F6F;
	/* Old browsers */
	background: -moz-linear-gradient(top, #6F6F6F 0%, #555555 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6F6F6F), color-stop(100%,#555555));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6F6F6F 0%,#555555 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6F6F6F 0%,#555555 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #6F6F6F 0%,#555555 100%);
	/* IE10+ */
	background: linear-gradient(#6F6F6F 0%,#555555 100%);
	/* W3C */
	-pie-background: linear-gradient(#6F6F6F, #555555);
	/*PIE*/
	position: relative;
	/* need this to workaround CSS3PIE known issue: http://css3pie.com/documentation/known-issues/#z-index */
	font: inherit;
	width: 187px;
	height: 28px;
	padding: 0 2px 0 14px;
	float: left;
	outline: none;
	background-clip: padding-box;
}

.search-filter
{
	font-size: 11px;
	text-align: center;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	background-position: center;
	/* Old browsers */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	/* W3C */
	/*PIE*/
	line-height: 28px;
	padding-right: 5px;
	cursor: pointer;
	height: 28px;
	color: #45494C;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: linear-gradient(#ffffff 0%,#ffffff 100%);
	-pie-background: linear-gradient(#ffffff, #ffffff);
	border-left: solid 0px #DADEE1;
}

.search-field::-ms-clear
{
	display: none;
}

.search-filter-wrapper.open
{
	color: #000000;
	background-color: #ffffff;
}

.search-filter span
{
	padding-left: 15px;
	padding-right: 15px;
}

.search-filter span:after
{
	content: "";
	border: solid 3px transparent;
	border-top-width: 6px;
	border-bottom: none;
	position: absolute;
	top: 50%;
	right: 42px;
	/* .search-submit width + 8px padding: 34px + 8px */
	margin-top: -3px;
	width: 0;
	height: 0;
	border-top-color: #45494C;
}

.search-filter-wrapper
{
	display: none;
	float: left;
	color: #45494C;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: linear-gradient(#ffffff 0%,#ffffff 100%);
	-pie-background: linear-gradient(#ffffff, #ffffff);
}

.search-filter-content
{
	display: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	right: 34px;
	line-height: normal;
	text-align: left;
	overflow: auto;
	z-index: 1;
	color: #000000;
	background-color: #ffffff;
}

.search-filter-content ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.search-filter-content ul li
{
	padding: 5px;
	margin: 0;
}

.search-filter-content ul li:hover
{
	color: #DADEE1;
	background-color: transparent;
}

.search-submit-wrapper
{
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	/* Old browsers */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera11.10+ */
	/* IE10+ */
	/* W3C */
	/*PIE*/
	position: relative;
	/* need this to workaround CSS3PIE known issue: http://css3pie.com/documentation/known-issues/#z-index */
	float: left;
	cursor: pointer;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-left: solid 0px #45494C;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #45494C url('Images/icon-searchGray-17x17.png') no-repeat center center;
	background: url('Images/icon-searchGray-17x17.png') no-repeat center center, -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
	background: url('Images/icon-searchGray-17x17.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FFFFFF));
	background: url('Images/icon-searchGray-17x17.png') no-repeat center center, -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
	background: url('Images/icon-searchGray-17x17.png') no-repeat center center, -o-linear-gradient(top, #FFFFFF 0%,#FFFFFF 100%);
	background: url('Images/icon-searchGray-17x17.png') no-repeat center center, -ms-linear-gradient(top, #FFFFFF 0%,#FFFFFF 100%);
	background: url('Images/icon-searchGray-17x17.png') no-repeat center center, linear-gradient(#FFFFFF 0%,#FFFFFF 100%);
	-pie-background: url('Skins/Default/Stylesheets/Images/icon-searchGray-17x17.png') no-repeat center center, linear-gradient(#FFFFFF, #FFFFFF);
}

.search-submit
{
	width: 16px;
	padding-left: 6px;
	padding-right: 10px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	height: 28px;
}

/* placeholder */
/*#search-field::-webkit-input-placeholder { font-style: italic; }*/
/* webkit */
/*#search-field:-moz-placeholder { font-style: italic; }*/
/* mozilla */

#results-heading
{
	padding-bottom: 10px;
	color: #45494C;
	font-size: 20px;
	border-bottom: solid 1px #DADEE1;
}

#resultList
{
	text-align: left;
}

#resultList,
#communityResultList
{
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-type: none;
}

#resultList > li
{
	margin-bottom: 16px;
}

#communityResultList
{
	padding-left: 20px;
}

#communityResultList li
{
	margin: 10px 0px;
}

#communityResultList a
{
	text-decoration: none;
}

#communityResultList a:hover
{
	text-decoration: underline;
}

#resultList.communitySearch .title
{
	display: none;
}

#resultList.communitySearch #communityResultList
{
	padding: 0px;
}

#pagination
{
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-type: none;
	height: 40px;
	line-height: 40px;
}

#pagination a
{
	min-width: 34px;
	cursor: pointer;
	border-top: solid 1px #DADEE1;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	color: inherit;
}

#pagination a:hover
{
	border: solid 1px #e2e2e6;
	background-color: #fff;
	border-top: solid 1px #DADEE1;
}

.activityInfo
{
	color: #666;
}

.activityInfo a
{
	color: #666;
}

a.activityText
{
	color: #000;
}

.activityTime
{
	font-style: italic;
	font-size: 11px;
	color: #999;
	margin-left: 3px;
}

#resultList .title
{
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 2px 0;
}

#resultList .title a
{
	color: #076685;
	text-decoration: underline;
}

#resultList .description
{
	font-size: 13px;
}

#resultList .url cite
{
	color: #076685;
	font-size: 13px;
	font-style: normal;
}

#resultList .glossary
{
	padding: 15px;
	-webkit-box-shadow: 0px 1px 4px 0px #cccccc;
	-moz-box-shadow: 0px 1px 4px 0px #cccccc;
	line-height: normal;
	color: #000000;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-position: center center;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
	box-shadow: 0px 1px 4px #A4AAAE;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
}

#resultList .glossary .term
{
	color: #000000;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.ratingStarsContainer
{
	color: #9C9C9C;
	font-size: 13px;
}

.ratingStar
{
	font-size: 0px;
	background-image: url("Images/RatingStars.png");
	padding: 12px 12px 0 0;
	display: inline;
}

.ratingStarEmpty
{
	
}

.ratingStarFilled
{
	background-position: -24px 0;
}

/**/

.needs-pie
{
	behavior: url('Resources/Scripts/PIE-no-motw.htc');
}

.toc-icon
{
	position: absolute;
	top: 3px;
	border: none;
}

#contentBody
{
	width: auto;
}

.search-account-container
{
	position: absolute;
	right: 10px;
}

.central-account-wrapper
{
	float: right;
	display: block;
}

.central-dropdown
{
	display: none;
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 12px;
}

.central-hosted .central-dropdown,
.skin-preview .central-dropdown
{
	display: block;
}

.central-dropdown:after
{
	content: ' ';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	border-bottom-color: #FFFFFF;
}

.central-dropdown .central-account-drop
{
	display: block;
	padding: 10px 0;
	font-size: 12px;
	color: #dadada;
	padding-top: 10px;
	padding-bottom: 10px;
}

.central-dropdown-content
{
	position: absolute;
	-webkit-box-shadow: 0px 1px 4px 0px #cccccc;
	-moz-box-shadow: 0px 1px 4px 0px #cccccc;
	line-height: 35px;
	text-align: center;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
	box-shadow: 0px 1px 4px #A4AAAE;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
	width: 100px;
	height: auto;
	left: auto;
	right: 0px;
	background-color: #FFFFFF;
}

.central-dropdown-content a
{
	display: block;
	color: #45494C;
	font-size: 14px;
	text-decoration: none;
}

.central-dropdown-content a:hover
{
	cursor: pointer;
	text-decoration: underline;
}

.central-dropdown:after,
.central-dropdown-content
{
	visibility: hidden;
	opacity: 0;
}

.central-dropdown.active:after,
.central-dropdown.active .central-dropdown-content,
.central-dropdown:hover:after,
.central-dropdown:hover .central-dropdown-content
{
	visibility: visible;
	opacity: 1;
}

.central-account-image
{
	vertical-align: middle;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	background: transparent url('Images/Icon-User-White.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/Icon-User-White.png') no-repeat center center;
}

.central-account-text:after
{
	content: "";
	border: solid 3px transparent;
	border-top-width: 6px;
	margin-left: 5px;
	width: 0;
	height: 0;
	display: inline-flex;
	border-top-color: #DADEE1;
}

.central-separator
{
	width: auto;
	border: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 1px;
	color: #DADEE1;
	background-color: #DADEE1;
}

/*   Micro content basic styles   */

.micro-content
{
	overflow-y: auto;
	line-height: normal;
}

.micro-content-drop-down-button
{
	display: none;
	cursor: pointer;
}

.micro-content-drop-down-mode .micro-content-drop-down-button
{
	display: inline;
}

.micro-content-drop-down-mode > .micro-content-collapsed > .micro-response,
.micro-content-drop-down-mode > .micro-content-collapsed > .micro-response-title,
.micro-content-drop-down-mode > .micro-content-collapsed > .micro-response-url
{
	display: none !important;
}

.micro-content-truncated-mode .micro-response
{
	overflow: hidden;
}

.micro-content-expand
{
	display: none;
	width: 100%;
	cursor: pointer;
}

.micro-content-truncated-mode .micro-content-expand
{
	display: inline;
}

.micro-content-truncated-mode .micro-content-expand-transition-wrapper
{
	position: relative;
	height: 0px;
	width: 100%;
}

.micro-content-truncated-mode .micro-content-expand-transition
{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}

.micro-content-drop-down-mode .micro-content-phrase
{
	cursor: pointer;
}

.featured-snippets-container .micro-content
{
	-webkit-box-shadow: 0px 1px 4px 0px #cccccc;
	-moz-box-shadow: 0px 1px 4px 0px #cccccc;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-position: center center;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
	box-shadow: 0px 1px 4px #A4AAAE;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
}

.featured-snippets-container .micro-content-expanded .micro-content-drop-down-button
{
	background: transparent url('Images/arrow-up.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
}

.featured-snippets-container .micro-content-collapsed .micro-content-drop-down-button
{
	background: transparent url('Images/arrow-down.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
}

.featured-snippets-container .micro-content-expanded .micro-content-expand
{
	background: transparent url('Images/arrow-up.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
}

.featured-snippets-container .micro-content-collapsed .micro-content-expand
{
	background: transparent url('Images/arrow-down.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
}

.featured-snippets-container.micro-content-truncated-mode .micro-content-expand-transition
{
	height: 50px;
	background: -moz-linear-gradient(top, transparent 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#FFFFFF));
	background: -webkit-linear-gradient(top, transparent 0%, #FFFFFF 100%);
	background: -o-linear-gradient(top, transparent 0%,#FFFFFF 100%);
	background: -ms-linear-gradient(top, transparent 0%,#FFFFFF 100%);
	background: linear-gradient(transparent 0%,#FFFFFF 100%);
	-pie-background: linear-gradient(transparent, #FFFFFF);
}

.knowledge-panel-container .micro-content
{
	-webkit-box-shadow: 0px 1px 4px 0px #cccccc;
	-moz-box-shadow: 0px 1px 4px 0px #cccccc;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-position: center center;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
	box-shadow: 0px 1px 4px #A4AAAE;
	-webkit-box-shadow: 0px 1px 4px #A4AAAE;
	-moz-box-shadow: 0px 1px 4px #A4AAAE;
}

.knowledge-panel-container .micro-content-expanded .micro-content-drop-down-button
{
	background: transparent url('Images/arrow-up.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
}

.knowledge-panel-container .micro-content-collapsed .micro-content-drop-down-button
{
	background: transparent url('Images/arrow-down.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
}

.knowledge-panel-container .micro-content-expanded .micro-content-expand
{
	background: transparent url('Images/arrow-up.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
}

.knowledge-panel-container .micro-content-collapsed .micro-content-expand
{
	background: transparent url('Images/arrow-down.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
}

.knowledge-panel-container.micro-content-truncated-mode .micro-content-expand-transition
{
	height: 50px;
	background: -moz-linear-gradient(top, transparent 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#FFFFFF));
	background: -webkit-linear-gradient(top, transparent 0%, #FFFFFF 100%);
	background: -o-linear-gradient(top, transparent 0%,#FFFFFF 100%);
	background: -ms-linear-gradient(top, transparent 0%,#FFFFFF 100%);
	background: linear-gradient(transparent 0%,#FFFFFF 100%);
	-pie-background: linear-gradient(transparent, #FFFFFF);
}

.central-dropdown:hover
{
	
}

.central-account-text
{
	color: #DADEE1;
	font-size: 12px;
	text-decoration: none;
}

.central-account-text:hover
{
	color: #DADEE1;
}

.central-account-text:hover:after
{
	border-top-color: #DADEE1;
}

.featured-snippets-container
{
	
}

.comments .timestamp
{
	color: #45494C;
	font-family: Georgia;
	font-size: 11px;
	font-style: italic;
}

.login-dialog-content .profile-item-wrapper .email-notifications-group
{
	background-color: #45494C;
}

.login-dialog-content input[type=text]
{
	color: #000000;
}

.knowledge-panel-container
{
	
}

#knowledge-panel-middle
{
	display: none;
}

.knowledge-panel-container .micro-content-drop-down-button
{
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 20px;
	height: 20px;
}

.knowledge-panel-container .micro-content-phrase span
{
	color: #45494C;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}

.knowledge-panel-container .micro-content-phrase
{
	
}

.knowledge-panel-container.micro-content-optional-phrase .micro-content-phrase
{
	display: none;
}

.knowledge-panel-container .micro-response
{
	
}

.knowledge-panel-container.micro-content-truncated-mode .micro-response
{
	max-height: none;
}

.knowledge-panel-container .micro-response-title a
{
	color: #2200c1;
	text-decoration: underline;
}

.knowledge-panel-container .micro-response-title
{
	margin-top: 10px;
	margin-bottom: 2px;
}

.knowledge-panel-container .micro-response-title a:visited
{
	
}

.knowledge-panel-container .micro-response-title a:focus
{
	
}

.knowledge-panel-container .micro-response-title a:hover
{
	
}

.knowledge-panel-container .micro-response-title a:active
{
	
}

.knowledge-panel-container .micro-response-url cite
{
	color: #0e774a;
	font-size: 0.9em;
	font-style: normal;
}

.knowledge-panel-container .micro-response-url
{
	
}

.knowledge-panel-container .micro-content-expand
{
	background-repeat: no-repeat;
	background-position: center center;
	border-left: none;
	border-right: none;
	border-top: solid 1px #A4AAAE;
	border-bottom: solid 1px #A4AAAE;
	height: 40px;
}

.MCWebHelpFramesetLink a
{
	color: #076685;
}

.MCWebHelpFramesetLink .MCWebHelpFramesetLinkBottom a
{
	
}

.MCWebHelpFramesetLink .MCWebHelpFramesetLinkTop a
{
	
}

#browseSequences.tabs-panel-content
{
	background-color: #CDE0E7;
}

#community.tabs-panel-content
{
	background-color: #CDE0E7;
}

#glossary.tabs-panel-content
{
	background-color: #CDE0E7;
}

#index.tabs-panel-content
{
	background-color: #CDE0E7;
}

.web #index .tree-node.tree-node-expanded > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrowTurn.png') no-repeat 0 3px;
	background: url('Images/arrowTurn.png') no-repeat  0 3px,transparent;
}

#index .tree-node.tree-node-expanded.tree-node-selected > div
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrowTurn.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/arrowTurn.png') no-repeat  0 3px,transparent;
}

.web #index .tree-node.tree-node-expanded.tree-node-selected > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrowTurn.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/arrowTurn.png') no-repeat  0 3px,transparent;
}

.web #index .tree-node.tree-node-collapsed > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow.png') no-repeat 0 3px;
	background: url('Images/arrow.png') no-repeat  0 3px,transparent;
}

#index .tree-node.tree-node-collapsed.tree-node-selected > div
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/arrow.png') no-repeat  0 3px,transparent;
}

.web #index .tree-node.tree-node-collapsed.tree-node-selected > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/arrow.png') no-repeat  0 3px,transparent;
}

.web #index .tree-node.tree-node-leaf > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/index.png') no-repeat 0 3px;
	background: url('Images/index.png') no-repeat  0 3px,transparent;
}

#index .tree-node.tree-node-leaf.tree-node-selected > div
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/index.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/index.png') no-repeat  0 3px,transparent;
}

.web #index .tree-node.tree-node-leaf.tree-node-selected > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/index.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/index.png') no-repeat  0 3px,transparent;
}

#search.tabs-panel-content
{
	background-color: #CDE0E7;
}

#toc.tabs-panel-content
{
	background-color: #CDE0E7;
}

.web .tree-node.tree-node-collapsed > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	font-weight: bold;
	background: url('Images/book_17x17.png') no-repeat  0 3px,transparent;
}

.tree-node.tree-node-collapsed.tree-node-selected > div
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/book_17x17.png') no-repeat  0 3px,transparent;
}

.web .tree-node.tree-node-collapsed.tree-node-selected > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/book_17x17.png') no-repeat  0 3px,transparent;
}

.web .tree-node.tree-node-expanded > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	font-weight: bold;
	background: url('Images/book_17x17.png') no-repeat  0 3px,transparent;
}

.tree-node.tree-node-expanded.tree-node-selected > div
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/book_17x17.png') no-repeat  0 3px,transparent;
}

.web .tree-node.tree-node-expanded.tree-node-selected > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/book_17x17.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/book_17x17.png') no-repeat  0 3px,transparent;
}

.web .tree-node.tree-node-leaf > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-page-gray-17x17.png') no-repeat 0 3px;
	font-weight: bold;
	background: url('Images/icon-page-gray-17x17.png') no-repeat  0 3px,transparent;
}

.tree-node.tree-node-leaf.tree-node-selected > div
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-page-gray-17x17.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/icon-page-gray-17x17.png') no-repeat  0 3px,transparent;
}

.web .tree-node.tree-node-leaf.tree-node-selected > div:hover
{
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-page-gray-17x17.png') no-repeat 0 3px;
	color: #000000;
	font-weight: bold;
	background: url('Images/icon-page-gray-17x17.png') no-repeat  0 3px,transparent;
}

.tree-node.tree-node-selected > div
{
	color: #000000;
	font-weight: bold;
	background-color: transparent;
}

.web .tree-node.tree-node-selected > div:hover
{
	color: #000000;
	font-weight: bold;
	background-color: transparent;
}

#index .tree-node.tree-node-selected > div
{
	color: #000000;
	font-weight: bold;
	background-color: transparent;
}

.web #index .tree-node.tree-node-selected > div:hover
{
	color: #000000;
	font-weight: bold;
	background-color: transparent;
}

.SearchFilterEntry.tree-node .SearchFilter.active
{
	background-color: transparent;
	color: #000000;
	font-weight: bold;
}

.tabs-nav li#BrowseSequencesTab
{
	
}

.tabs-nav li#CommunityTab
{
	
}

.tabs-nav li#GlossaryTab
{
	
}

.tabs-nav li#IndexTab
{
	
}

.tabs-nav li#SearchTab
{
	
}

.tabs-nav li#TocTab
{
	
}

.tabs-nav li#BrowseSequencesTab.tabs-nav-active
{
	text-shadow: 0px 1px 0px #FFFFFF;
	-webkit-text-shadow: 0px 1px 0px #FFFFFF;
	-moz-text-shadow: 0px 1px 0px #FFFFFF;
	background: #CDE0E7;
	background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
	background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
	-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
}

.tab-icon #BrowseSequencesTab.tabs-nav-active .tabs-nav-icon
{
	background: transparent url('Images/serachList_17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/serachList_17x17.png');
}

.tabs-nav li#CommunityTab.tabs-nav-active
{
	text-shadow: 0px 1px 0px #FFFFFF;
	-webkit-text-shadow: 0px 1px 0px #FFFFFF;
	-moz-text-shadow: 0px 1px 0px #FFFFFF;
	background: #CDE0E7;
	background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
	background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
	-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
}

.tab-icon #CommunityTab.tabs-nav-active .tabs-nav-icon
{
	background: transparent url('Images/communityActive.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/communityActive.png');
}

.tabs-nav li#GlossaryTab.tabs-nav-active
{
	text-shadow: 0px 1px 0px #FFFFFF;
	-webkit-text-shadow: 0px 1px 0px #FFFFFF;
	-moz-text-shadow: 0px 1px 0px #FFFFFF;
	background: #CDE0E7;
	background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
	background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
	-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
}

.tab-icon #GlossaryTab.tabs-nav-active .tabs-nav-icon
{
	background: transparent url('Images/glossary_17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/glossary_17x17.png');
}

.tabs-nav li#IndexTab.tabs-nav-active
{
	text-shadow: 0px 1px 0px #FFFFFF;
	-webkit-text-shadow: 0px 1px 0px #FFFFFF;
	-moz-text-shadow: 0px 1px 0px #FFFFFF;
	background: #CDE0E7;
	background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
	background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
	-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
}

.tab-icon #IndexTab.tabs-nav-active .tabs-nav-icon
{
	background: transparent url('Images/list_17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/list_17x17.png');
}

.tabs-nav li#SearchTab.tabs-nav-active
{
	text-shadow: 0px 1px 0px #FFFFFF;
	-webkit-text-shadow: 0px 1px 0px #FFFFFF;
	-moz-text-shadow: 0px 1px 0px #FFFFFF;
	background: #CDE0E7;
	background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
	background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
	-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
}

.tab-icon #SearchTab.tabs-nav-active .tabs-nav-icon
{
	
}

.tabs-nav li#TocTab.tabs-nav-active
{
	text-shadow: 0px 1px 0px #FFFFFF;
	-webkit-text-shadow: 0px 1px 0px #FFFFFF;
	-moz-text-shadow: 0px 1px 0px #FFFFFF;
	background: #CDE0E7;
	background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
	background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
	background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
	background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
	-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
}

.tab-icon #TocTab.tabs-nav-active .tabs-nav-icon
{
	background: transparent url('Images/icon-contents-gray-17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-contents-gray-17x17.png');
}

.tabs-nav li#BrowseSequencesTab.tabs-nav-inactive
{
	background: #076685;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.tab-icon #BrowseSequencesTab.tabs-nav-inactive .tabs-nav-icon
{
	background: transparent url('Images/icon-browseSequence-17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-browseSequence-17x17.png');
}

.tabs-nav li#CommunityTab.tabs-nav-inactive
{
	background: #076685;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.tab-icon #CommunityTab.tabs-nav-inactive .tabs-nav-icon
{
	background: transparent url('Images/communityInactive.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/communityInactive.png');
}

.tabs-nav li#GlossaryTab.tabs-nav-inactive
{
	background: #076685;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.tab-icon #GlossaryTab.tabs-nav-inactive .tabs-nav-icon
{
	background: transparent url('Images/icon-glossary-17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-glossary-17x17.png');
}

.tabs-nav li#IndexTab.tabs-nav-inactive
{
	background: #076685;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.tab-icon #IndexTab.tabs-nav-inactive .tabs-nav-icon
{
	background: transparent url('Images/icon-index-17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-index-17x17.png');
}

.tabs-nav li#SearchTab.tabs-nav-inactive
{
	background: #076685;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.tab-icon #SearchTab.tabs-nav-inactive .tabs-nav-icon
{
	
}

.tabs-nav li#TocTab.tabs-nav-inactive
{
	background: #076685;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.tab-icon #TocTab.tabs-nav-inactive .tabs-nav-icon
{
	background: transparent url('Images/icon-contents-17x17.png');
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-contents-17x17.png');
}

#search-field
{
	height: 28px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #45494C;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background: #45494C;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: linear-gradient(#ffffff 0%,#ffffff 100%);
	-pie-background: linear-gradient(#ffffff, #ffffff);
}

#resultList .glossary .definition
{
	color: #000000;
}

#resultList .glossary .term a
{
	
}

#resultList .glossary .term a:visited
{
	
}

#resultList .glossary .term a:focus
{
	
}

#resultList .glossary .term a:hover
{
	
}

#resultList .glossary .term a:active
{
	
}

#search-field::-webkit-input-placeholder
{
	color: #45494C;
}

#search-field::-moz-placeholder
{
	color: #45494C;
}

#search-field:-moz-placeholder
{
	color: #45494C;
}

#search-field:-ms-input-placeholder
{
	color: #45494C;
}

.featured-snippets-container .micro-content-drop-down-button
{
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 20px;
	height: 20px;
}

.featured-snippets-container .micro-content-phrase span
{
	color: #45494C;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}

.featured-snippets-container .micro-content-phrase
{
	
}

.featured-snippets-container.micro-content-optional-phrase .micro-content-phrase
{
	display: none;
}

.featured-snippets-container .micro-response
{
	
}

.featured-snippets-container.micro-content-truncated-mode .micro-response
{
	max-height: 200px;
}

.featured-snippets-container .micro-content-expand
{
	background-repeat: no-repeat;
	background-position: center center;
	border-left: none;
	border-right: none;
	border-top: solid 1px #A4AAAE;
	border-bottom: solid 1px #A4AAAE;
	height: 40px;
}

.featured-snippets-container .micro-response-title a
{
	color: #076685;
	text-decoration: underline;
}

.featured-snippets-container .micro-response-title
{
	margin-top: 10px;
	margin-bottom: 2px;
}

.featured-snippets-container .micro-response-title a:visited
{
	color: #076685;
}

.featured-snippets-container .micro-response-title a:focus
{
	color: #076685;
}

.featured-snippets-container .micro-response-title a:hover
{
	color: #076685;
}

.featured-snippets-container .micro-response-title a:active
{
	color: #076685;
}

.featured-snippets-container .micro-response-url cite
{
	color: #076685;
	font-size: 0.9em;
	font-style: normal;
}

.featured-snippets-container .micro-response-url
{
	
}

#pagination a#selected
{
	border-top: solid 1px #DADEE1;
	font-weight: bold;
}

#resultList .title a:visited
{
	color: #076685;
	text-decoration: underline;
}

#resultList .title a:focus
{
	color: #076685;
	text-decoration: underline;
}

#resultList .title a:hover
{
	color: #076685;
	text-decoration: underline;
}

#resultList .title a:active
{
	color: #076685;
	text-decoration: underline;
}

#search-field-sidebar
{
	background-image: url('Images/icon-searchGray-17x17.png');
}

#responsive-search-index
{
	background-image: url('Images/icon-searchGray-17x17.png');
}

#responsive-search-glossary
{
	background-image: url('Images/icon-searchGray-17x17.png');
}

.skip-to-content
{
	color: #A4AAAE;
	font-family: Arial;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;
	background-color: #FFFFFF;
}

