/*<meta />*/

@media only screen and (max-width: 1279px)
{
	.row
	{
		-webkit-overflow-scrolling: touch;
	}

	#header
	{
		display: none;
	}

	#home
	{
		width: 100%;
		height: 40px;
		color: #dadada;
		border-right: solid 1px #494949;
		/* Old browsers */
		/* FF3.6+ */
		/* Chrome,Safari4+ */
		/* Chrome10+,Safari5.1+ */
		/* Opera11.10+ */
		/* IE10+ */
		/* W3C */
		/*PIE*/
		text-align: center;
		cursor: pointer;
		display: block;
		line-height: 40px;
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: -moz-linear-gradient(top, #45494C 0%, #45494C 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45494C), color-stop(100%,#45494C));
		background: -webkit-linear-gradient(top, #45494C 0%, #45494C 100%);
		background: -o-linear-gradient(top, #45494C 0%,#45494C 100%);
		background: -ms-linear-gradient(top, #45494C 0%,#45494C 100%);
		background: linear-gradient(#45494C 0%,#45494C 100%);
		-pie-background: linear-gradient(#45494C, #45494C);
	}

	#home-text
	{
		height: 100%;
		font-size: 16px;
		color: #DADEE1;
	}

	#home-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 0;
		height: 100%;
		background: transparent url('Images/icon-home-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-home-17x17.png') no-repeat 11px center;
	}

	.tree-node .new-indicator
	{
		position: absolute;
		top: 0;
		left: 7px;
		margin-top: 7px;
		width: 7px;
		height: 7px;
	}

	#responsiveHeader
	{
		display: block;
		text-align: center;
		height: 70px;
		background: #076685 none;
		-pie-background: #076685;
	}

	#responsiveHeader > a.homeLink
	{
		
	}

	#responsiveHeader .logo
	{
		margin: auto;
		height: 100%;
		width: 229px;
		background: transparent url('Images/Logo.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/Logo.png') no-repeat center center;
	}

	#responsiveHeader .logo > img
	{
		width: 229px;
		height: 55px;
	}

	.toggle-topbar
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 60px;
	}

	.toggle-topbar button
	{
		position: relative;
		display: block;
	}

	#search-index,
	#search-glossary
	{
		display: none;
	}

	#navigation
	{
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #f1f1f1;
	}

	#normalLoginBtn
	{
		display: none;
	}

	#contentBody
	{
		width: 100%;
		background-repeat: no-repeat;
		background-color: #076685;
	}

	#contentBodyInner
	{
		top: 114px;
	}

	/* Responsive output buttons */

	.toolbar-buttons
	{
		top: 77px;
	}

	.feedback-active .button.login-button.feedback-required
	{
		display: block;
	}

	.button
	{
		background-position: center center;
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.login-button.feedback-required
	{
		display: none;
	}

	.tab
	{
		float: none;
		width: 100%;
	}

	.tab-collapsed .tabs-nav-text
	{
		display: block;
	}

	.tabs
	{
		background-color: #f1f1f1;
		width: 100%;
	}

	.tabs li
	{
		list-style-type: none;
	}

	.tabs-nav li
	{
		cursor: pointer;
		width: 100%;
		height: 40px;
		margin-top: 0px;
		font-size: 16px;
		line-height: 40px;
	}

	.tabs-nav li.tab-collapsed
	{
		width: 100%;
		height: 40px;
		line-height: 40px;
	}

	.tabs-nav li.tabs-nav-inactive
	{
		border-radius: 0;
		-webkit-border-radius: 0;
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
		background-clip: padding-box;
	}

	.tabs-nav li#TocTab,
	.tabs-nav li#TocTab.tab-collapsed,
	.tabs-nav li#IndexTab,
	.tabs-nav li#IndexTab.tab-collapsed,
	.tabs-nav li#GlossaryTab,
	.tabs-nav li#GlossaryTab.tab-collapsed,
	.tabs-nav li#BrowseSequencesTab,
	.tabs-nav li#BrowseSequencesTab.tab-collapsed,
	.tabs-nav li#CommunityTab,
	.tabs-nav li#CommunityTab.tab-collapsed,
	.tabs-nav li#SearchTab,
	.tabs-nav li#SearchTab.tab-collapsed
	{
		width: 100%;
	}

	.tabs-nav
	{
		padding: 0;
		margin: 0;
	}

	.tabs-nav li.tabs-nav-active
	{
		border: solid 1px #494949;
		border-width: 1px 0px 0px 0px;
		border-radius: 0px;
		border-left: solid 0px #45494C;
		border-right: solid 0px #45494C;
		border-top: solid 1px #45494C;
		border-bottom: solid 1px #45494C;
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tree li div span a
	{
		text-decoration: none;
	}

	.tree-node > div
	{
		background-repeat: no-repeat;
	}

	.tree-node div
	{
		background: #d5d5d5;
		cursor: pointer;
		line-height: 3em;
	}

	.tree-node div > img
	{
		margin-left: 18px;
	}

	.tree-node div .label
	{
		font-size: 16px;
	}

	.tree-node div.GlossaryPageTerm .label,
	.tree-node div.SearchFilter .label
	{
		margin: 0 11px;
	}

	.tree
	{
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}

	.tree-node-selected
	{
		color: white;
	}

	.tabs-panel
	{
		position: relative;
		right: auto;
		bottom: auto;
		left: auto;
		top: 0;
		padding: inherit;
	}

	.tabs-panel-content
	{
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		padding: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	.tabs-panel-search
	{
		padding: 1px;
	}

	.index #responsive-search-index,
	.glossary #responsive-search-glossary
	{
		display: block;
	}

	.index #search-field-sidebar,
	.glossary #search-field-sidebar
	{
		display: none;
	}

	.tabs-panel-content.searchable
	{
		top: 0px;
	}

	.tab-icon #TocTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		color: #707070;
		height: 40px;
		margin: 0;
		background: transparent url('Images/icon-contents-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-contents-17x17.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 40px;
		margin: 0;
		background: transparent url('Images/icon-index-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-index-17x17.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 40px;
		margin: 0;
		background: transparent url('Images/icon-glossary-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-glossary-17x17.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 40px;
		margin: 0;
		background: transparent url('Images/icon-browseSequence-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-browseSequence-17x17.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/communityInactive.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/communityInactive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 40px;
		margin: 0;
		background: transparent url('Images/icon-filter-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-filter-17x17.png') no-repeat 11px center;
	}

	.tab-icon #TocTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		color: #707070;
		background: transparent url('Images/icon-contents-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-contents-17x17.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/icon-index-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-index-17x17.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/icon-glossary-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-glossary-17x17.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/icon-browseSequence-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-browseSequence-17x17.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/communityActive.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/communityActive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/icon-filter-17x17.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-filter-17x17.png') no-repeat 11px center;
	}

	.SearchFilterEntry.tree-node.tree-node-leaf .SearchFilter,
	.SearchFilterEntry.tree-node.tree-node-leaf.tree-node-selected .SearchFilter,
	.SearchFilterEntry.tree-node.tree-node-leaf.tree-node-selected .SearchFilter:hover
	{
		background-image: none;
		padding: 0;
	}

	body.active #SearchTab
	{
		display: block;
	}

	/* Search bar styles */

	#search-sidebar
	{
		position: relative;
		display: block;
		width: 100%;
		height: 50px;
		-webkit-box-shadow: 0px 0px 0px #A4AAAE;
		-moz-box-shadow: 0px 0px 0px #A4AAAE;
		box-shadow: 0px 0px 0px #A4AAAE;
		-webkit-box-shadow: 0px 0px 0px #A4AAAE;
		-moz-box-shadow: 0px 0px 0px #A4AAAE;
	}

	.toc-icon
	{
		
	}

	#glossary .tree-node > div
	{
		width: 100%;
	}

	#index .tree-node > div
	{
		padding-left: 0;
	}

	#index .tree-node.tree-node-leaf.tree-node-selected > div
	{
		background-position: 10px center;
		padding-left: 37px;
		color: #FFFFFF;
		background: url('Images/index.png') no-repeat left 10px center, #076685;
	}

	.menu-icon
	{
		display: block;
	}

	.menu-icon button span
	{
		background: transparent url('Images/HamburgerIcon-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/HamburgerIcon-white.png') no-repeat center center;
	}

	#search-field-sidebar
	{
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 16px;
		color: #E0E0E1;
		box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		outline: none;
		line-height: 1;
		/* IE Fix*/
		text-indent: 39px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		border-left: solid 2px #45494C;
		border-right: solid 2px #45494C;
		border-top: solid 2px #45494C;
		border-bottom: solid 2px #45494C;
		background: #ffffff url('Images/icon-searchGray-17x17.png') no-repeat 8px center;
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff 0%,#ffffff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff, #ffffff);
	}

	#responsive-search-index
	{
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 16px;
		color: #E0E0E1;
		box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		outline: none;
		line-height: 1;
		/* IE Fix*/
		text-indent: 39px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		border-left: solid 2px #45494C;
		border-right: solid 2px #45494C;
		border-top: solid 2px #45494C;
		border-bottom: solid 2px #45494C;
		background: #ffffff url('Images/icon-searchGray-17x17.png') no-repeat 8px center;
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff 0%,#ffffff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff, #ffffff);
	}

	#responsive-search-glossary
	{
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 16px;
		color: #E0E0E1;
		box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		outline: none;
		line-height: 1;
		/* IE Fix*/
		text-indent: 39px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		border-left: solid 2px #45494C;
		border-right: solid 2px #45494C;
		border-top: solid 2px #45494C;
		border-bottom: solid 2px #45494C;
		background: #ffffff url('Images/icon-searchGray-17x17.png') no-repeat 8px center;
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff 0%,#ffffff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/icon-searchGray-17x17.png') no-repeat 8px center, linear-gradient(#ffffff, #ffffff);
	}

	.tabs-nav li#CommunityTab
	{
		display: none;
	}

	/* Offcanvas styles */

	html.right-layout #navigation[role="complementary"]
	{
		left: 0;
		right: auto;
	}

	html.right-layout .active #navigation[role="complementary"]
	{
		right: 0;
		left: auto;
	}

	html.right-layout [role="complementary"],
	html.right-layout [role="main"],
	html.left-layout [role="complementary"],
	html.left-layout [role="main"]
	{
		-webkit-transition: all 0s ease 0s;
	}

	#contentBody
	{
		position: relative;
	}

	#body
	{
		top: 0;
	}

	html.left-layout #contentBody
	{
		left: 5px;
	}

	html.right-layout #contentBody
	{
		right: 5px;
	}

	/* Navigation slide out Styles*/

	#contentBody[role="main"]
	{
		width: 100%;
	}

	.hide-extras.active [role="main"]
	{
		width: 50%;
	}

	.hide-extras.active #navigation[role="complementary"]
	{
		width: 50%;
		display: block;
	}

	.active #contentBody[role="main"]
	{
		margin-right: -50%;
	}

	/* Offcanvas styles for pane position set right */

	html.right-layout .active #contentBody[role="main"]
	{
		margin-right: 50%;
	}

	.non-collapsable
	{
		width: 100%;
	}

	.show-for-xlarge-up
	{
		display: none !important;
	}

	.central-account-wrapper
	{
		position: absolute;
		top: 0;
		z-index: 1;
		line-height: 60px;
		left: 60px;
		right: auto;
	}

	.central-dropdown
	{
		margin: 0;
	}

	.central-dropdown .central-account-drop
	{
		padding: 0;
	}

	.central-account-image
	{
		margin: 0 20px 3px 20px;
		background: transparent url('Images/Icon-User-White.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/Icon-User-White.png') no-repeat center center;
	}

	.central-account-text
	{
		display: none;
	}

	.central-dropdown-content
	{
		left: 0;
		right: auto;
		background-color: #FFFFFF;
	}

	.central-dropdown:hover
	{
		
	}

	.central-dropdown-content a
	{
		
	}

	.knowledge-panel-container .micro-response-title a:visited
	{
		
	}

	#resultList .glossary .term a:visited
	{
		
	}

	.featured-snippets-container .micro-response-title a:visited
	{
		
	}

	#resultList .title a:visited
	{
		
	}

	.knowledge-panel-container .micro-response-title a:focus
	{
		
	}

	#resultList .glossary .term a:focus
	{
		
	}

	.featured-snippets-container .micro-response-title a:focus
	{
		
	}

	#resultList .title a:focus
	{
		
	}

	.central-dropdown-content a:hover
	{
		
	}

	.knowledge-panel-container .micro-response-title a:hover
	{
		
	}

	#resultList .glossary .term a:hover
	{
		
	}

	.featured-snippets-container .micro-response-title a:hover
	{
		
	}

	#pagination a:hover
	{
		
	}

	#resultList .title a:hover
	{
		
	}

	.knowledge-panel-container .micro-response-title a:active
	{
		
	}

	#resultList .glossary .term a:active
	{
		
	}

	.featured-snippets-container .micro-response-title a:active
	{
		
	}

	#resultList .title a:active
	{
		
	}

	.central-separator
	{
		background-color: #DADEE1;
	}

	.featured-snippets-container
	{
		
	}

	#knowledge-panel
	{
		
	}

	#search-results-flex
	{
		
	}

	.knowledge-panel-container
	{
		
	}

	.knowledge-panel-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-phrase span
	{
		
	}

	.knowledge-panel-container .micro-content-phrase
	{
		
	}

	.knowledge-panel-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.knowledge-panel-container .micro-response
	{
		
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		
	}

	.knowledge-panel-container .micro-response-title a
	{
		
	}

	.knowledge-panel-container .micro-response-title
	{
		
	}

	.knowledge-panel-container .micro-response-url cite
	{
		
	}

	.knowledge-panel-container .micro-response-url
	{
		
	}

	.knowledge-panel-container .micro-content
	{
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#FFFFFF));
		background: -webkit-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -o-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: -ms-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: linear-gradient(transparent 0%,#FFFFFF 100%);
		-pie-background: linear-gradient(transparent, #FFFFFF);
	}

	body
	{
		background: #076685 none;
		-pie-background: #076685;
	}

	#browseSequences.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#community.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#glossary.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#index.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#index .tree-node.tree-node-expanded > div
	{
		background: transparent url('Images/index-expanded.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/index-expanded.png') no-repeat left 10px center;
		padding-left: 37px;
	}

	#index .tree-node.tree-node-collapsed > div
	{
		background: transparent url('Images/index-collapsed.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/index-collapsed.png') no-repeat left 10px center;
		padding-left: 37px;
	}

	#index .tree-node.tree-node-leaf > div
	{
		background: transparent url('Images/index.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/index.png') no-repeat left 10px center;
		padding-left: 37px;
	}

	#index .tree-node.tree-node-collapsed.tree-node-selected > div
	{
		padding-left: 37px;
		color: #FFFFFF;
		background: url('Images/index-collapsed.png') no-repeat left 10px center, #076685;
	}

	#index .tree-node.tree-node-expanded.tree-node-selected > div
	{
		padding-left: 37px;
		color: #FFFFFF;
		background: url('Images/index-expanded.png') no-repeat left 10px center, #076685;
	}

	#search.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	#toc.tabs-panel-content
	{
		background-repeat: repeat;
		background-color: #CDE0E7;
	}

	.tree-node.tree-node-collapsed > div
	{
		background: transparent url('Images/icon-book-17x17.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-book-17x17.png') no-repeat left 10px center;
		padding-left: 44px;
	}

	.tree-node.tree-node-collapsed.tree-node-selected > div
	{
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-book-17x17.png') no-repeat left 10px center;
		color: #FFFFFF;
		background: url('Images/icon-book-17x17.png') no-repeat left 10px center, #076685;
	}

	.tree-node.tree-node-expanded > div
	{
		background: transparent url('Images/icon-openbook-17x17.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-openbook-17x17.png') no-repeat left 10px center;
		padding-left: 44px;
	}

	.tree-node.tree-node-expanded.tree-node-selected > div
	{
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-openbook-17x17.png') no-repeat left 10px center;
		color: #FFFFFF;
		background: url('Images/icon-openbook-17x17.png') no-repeat left 10px center, #076685;
	}

	.tree-node.tree-node-leaf > div
	{
		background: transparent url('Images/icon-page-17x17.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-page-17x17.png') no-repeat left 10px center;
		padding-left: 44px;
	}

	.tree-node.tree-node-leaf.tree-node-selected > div
	{
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-page-17x17.png') no-repeat left 10px center;
		color: #FFFFFF;
		background: url('Images/icon-page-17x17.png') no-repeat left 10px center, #076685;
	}

	.tabs-nav li#BrowseSequencesTab
	{
		color: #000000;
	}

	.tabs-nav li#Community
	{
		
	}

	.tabs-nav li#GlossaryTab
	{
		color: #000000;
	}

	.tabs-nav li#IndexTab
	{
		color: #000000;
	}

	.tabs-nav li#SearchTab
	{
		color: #000000;
	}

	.tabs-nav li#TocTab
	{
		color: #000000;
	}

	.tabs-nav li.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#CommunityTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#GlossaryTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#IndexTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#SearchTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li#TocTab.tabs-nav-active
	{
		background: #CDE0E7;
		background: -moz-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDE0E7), color-stop(100%,#CDE0E7));
		background: -webkit-linear-gradient(top, #CDE0E7 0%, #CDE0E7 100%);
		background: -o-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: -ms-linear-gradient(top, #CDE0E7 0%,#CDE0E7 100%);
		background: linear-gradient(#CDE0E7 0%,#CDE0E7 100%);
		-pie-background: linear-gradient(#CDE0E7, #CDE0E7);
	}

	.tabs-nav li.tabs-nav-inactive .tabs-nav-text
	{
		
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#CommunityTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#GlossaryTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#IndexTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#SearchTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.tabs-nav li#TocTab.tabs-nav-inactive
	{
		background: #076685;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.search-account-container
	{
		
	}

	#resultList .glossary .definition
	{
		
	}

	#resultList .glossary
	{
		background-position: center center;
	}

	#resultList .glossary .term
	{
		
	}

	#resultList .glossary .term a
	{
		
	}

	#results-heading
	{
		
	}

	#search-field::-webkit-input-placeholder
	{
		
	}

	#search-field::-moz-placeholder
	{
		
	}

	#search-field:-moz-placeholder
	{
		
	}

	#search-field:-ms-input-placeholder
	{
		
	}

	.featured-snippets-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.featured-snippets-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-phrase span
	{
		
	}

	.featured-snippets-container .micro-content-phrase
	{
		
	}

	.featured-snippets-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.featured-snippets-container .micro-response
	{
		
	}

	.featured-snippets-container.micro-content-truncated-mode .micro-response
	{
		
	}

	.featured-snippets-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.featured-snippets-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.featured-snippets-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#FFFFFF));
		background: -webkit-linear-gradient(top, transparent 0%, #FFFFFF 100%);
		background: -o-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: -ms-linear-gradient(top, transparent 0%,#FFFFFF 100%);
		background: linear-gradient(transparent 0%,#FFFFFF 100%);
		-pie-background: linear-gradient(transparent, #FFFFFF);
	}

	.featured-snippets-container .micro-response-title a
	{
		
	}

	.featured-snippets-container .micro-response-title
	{
		
	}

	.featured-snippets-container .micro-response-url cite
	{
		
	}

	.featured-snippets-container .micro-response-url
	{
		
	}

	.featured-snippets-container .micro-content
	{
		background-position: center center;
	}

	#pagination
	{
		line-height: 40px;
	}

	#pagination a
	{
		
	}

	#pagination a#selected
	{
		
	}

	#resultList .description
	{
		
	}

	#resultList .title a
	{
		
	}

	#resultList .url cite
	{
		
	}

	#resultList
	{
		
	}

	.button > div
	{
		
	}

	.button .button-icon
	{
		
	}

	.button .button-icon-wrapper
	{
		
	}

	.button .button-text
	{
		
	}

	.button.collapse-all-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.edit-user-profile-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.expand-all-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.login-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.next-topic-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.previous-topic-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.print-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.remove-highlight-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.select-language-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.select-skin-button
	{
		background-repeat: no-repeat;
		background: #DADEE1;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	.button.topic-ratings-button
	{
		box-shadow: 0px 0px 0px #FFFFFF;
		-webkit-box-shadow: 0px 0px 0px #FFFFFF;
		-moz-box-shadow: 0px 0px 0px #FFFFFF;
		background: transparent url('Images/star-full.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-full.png') no-repeat center center;
	}

	.button.topic-ratings-empty-button
	{
		box-shadow: 0px 0px 0px #FFFFFF;
		-webkit-box-shadow: 0px 0px 0px #FFFFFF;
		-moz-box-shadow: 0px 0px 0px #FFFFFF;
		background: transparent url('Images/star-empty.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-empty.png') no-repeat center center;
	}

	.toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #DADEE1;
	}

	.toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #DADEE1;
	}

	.button-separator
	{
		color: #45494C;
		background-color: #45494C;
	}
}

