/*<meta />*/

.transparent-gif	/* Ensures resource is copied over */
{
	background-image: url("Images/transparent.gif");
}

/* Bug #109712: Chrome bug - make contact with TOC elements for icon images to display correctly */

[class]
{
	
}

/* Expanding */

.MCExpanding
{
	text-decoration: none;
}

.MCExpanding_Open
{
	
}

.MCExpanding_Closed
{
	
}

.MCExpandingHead
{
	
}

.MCExpandingHotSpot
{
	cursor: pointer;
	background-repeat: no-repeat;
}

.MCExpanding_Image_Icon
{
	border: none;
}

.MCExpandingBody
{
	vertical-align: bottom;
}

.MCExpanding_Open .MCExpandingBody
{
	display: inline-block;
}

.MCExpanding_Closed .MCExpandingBody
{
	display: none;
}

/**/
/* DropDown */

.MCDropDown
{
	
}

.MCDropDown_Open
{
	
}

.MCDropDown_Closed
{
	
}

.MCDropDownHead
{
	display: block;
}

.MCDropDownHotSpot
{
	cursor: pointer;
	background-repeat: no-repeat;
}

.MCDropDown_Closed a.MCDropDownHotSpot,
.MCDropDown_Open a.MCDropDownHotSpot
{
	text-decoration: none;
}

.MCDropDownBody
{
	margin-left: 18px;
	overflow: hidden;
}

.MCDropDown_Open .MCDropDownBody
{
	display: block;
}

.MCDropDown_Closed .MCDropDownBody
{
	display: none;
}

.MCDropDown_Image_Icon
{
	border: none;
}

/**/
/* Toggler */

.MCToggler
{
	text-decoration: none;
}

.MCToggler_Open
{
	
}

.MCToggler_Closed
{
	
}

.MCTogglerHead
{
	
}

.MCTogglerHotSpot
{
	cursor: pointer;
	background-repeat: no-repeat;
}

a.MCToggler_Closed.MCTogglerHotSpot,
a.MCToggler_Open.MCTogglerHotSpot
{
	text-decoration: none;
}

.MCToggler_Image_Icon
{
	border: none;
}

/**/
/* Text Popup */

.MCTextPopup
{
	cursor: pointer;
	text-decoration: none;
}

.MCTextPopupHotSpot
{
	cursor: pointer;
	background-repeat: no-repeat;
}

.MCTextPopup_Open.MCTextPopupHotSpot
{
	
}

.MCTextPopup_Closed.MCTextPopupHotSpot
{
	
}

.MCTextPopupBody
{
	color: #EBEBEB;
	font-weight: normal;
	line-height: 1.5em;
	background-color: #000000;
	width: 200px;
	padding: 11px 15px;
	-webkit-box-shadow: 0 4px 10px #8B8B8B;
	-moz-box-shadow: 0 4px 10px #8B8B8B;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,.4);
	border: none !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	left: 20px;
	white-space: normal;
	filter: alpha( opacity = 0 );
	display: none;
	opacity: 0.0;
	z-index: 10001;
	min-width: min-content;
}

.MCTextPopup_Open .MCTextPopupBody
{
	display: block;
}

.MCTextPopup_Closed .MCTextPopupBody
{
	display: none;
}

.MCTextPopupArrow
{
	content: "";
	border: solid 13px transparent;
	border-bottom-color: #DCDCDC;
	border-bottom-width: 13px;
	border-top: none;
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	width: 0;
	height: 0;
}

.MCTextPopupBodyBottom .MCTextPopupArrow
{
	border: solid 13px transparent;
	border-top-color: #000000;
	border-top-width: 13px;
	border-bottom: none;
	top: auto;
	bottom: -13px;
}

/**/
/* Topic Popup */

.MCTopicPopup
{
	text-decoration: none;
}

.MCTopicPopupHotSpot
{
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat;
}

.MCTopicPopup_Open.MCTopicPopupHotSpot
{
	
}

.MCTopicPopup_Closed.MCTopicPopupHotSpot
{
	
}

.MCTopicPopupContainer
{
	background-color: #FFFFFF;
	padding: 10px;
	position: fixed;
	top: 100px;
	left: 100px;
	right: 100px;
	bottom: 100px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
	filter: alpha( opacity = 0 );
	opacity: 0.0;
	z-index: 10001;
}

#contentBodyInner .MCTopicPopupContainer
{
	position: absolute;
}

.MCTopicPopupBody
{
	width: 100%;
	border: none;
}

/**/
/* Thumbnail Popup */

.MCPopupThumbnailLink
{
	
}

.MCPopupThumbnail
{
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.MCPopupContainer
{
	background-color: #FFFFFF;
	border: solid 1px #000000;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 1001;
}

.MCPopupContainer2
{
	background-color: #FFFFFF;
	border: solid 1px #000000;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	-moz-box-shadow: 2px 2px 8px #FFFFFF;
	-webkit-box-shadow: 2px 2px 8px #FFFFFF;
	box-shadow: 2px 2px 8px #FFFFFF;
}

.MCPopupFullImage
{
	width: 0px;
	height: 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/**/
/* HelpControl */

.MCHelpControl_Image_Icon
{
	border: none;
}

.MCHelpControl span
{
	background: url("Images/help-control.png") no-repeat left center;
	padding-left: 18px;
}

a.MCHelpControl
{
	cursor: pointer;
	text-decoration: none;
}

/**/
/* Dialog */

.MCDialog
{
	display: none;
	width: 400px;
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 6px;
	background-color: #000000;
	border: 1px solid #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	filter: alpha( opacity = 0 );
	opacity: 0.0;
	z-index: 10001;
}

.MCDialogHeader
{
	margin: 0 0 4px;
	padding: 5px 0 5px 5px;
	color: #FFFFFF;
	font-size: 15px;
	font-family: Helvetica;
}

.MCDialogClose
{
	color: #FFFFFF;
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 12px;
	text-align: center;
	text-decoration: none;
	float: right;
	width: 20px;
	height: 18px;
	padding-top: 2px;
	margin-top: -2px;
	background-color: #999999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.MCDialogBody
{
	color: #555555;
	padding: 10px;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/**/

.link-list-popup
{
	color: #707070;
	line-height: normal;
	background-color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 10px #8B8B8B;
	-moz-box-shadow: 0 4px 10px #8B8B8B;
	box-shadow: 0 4px 10px #8B8B8B;
	position: absolute;
	z-index: 50;
}

.link-list-popup ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.link-list-popup ul li
{
	padding: 5px;
	cursor: pointer;
}

.link-list-popup ul li:hover
{
	color: #000;
	background-color: #E5EFF7;
}

.link-list-popup ul li a
{
	color: inherit;
	text-decoration: none;
}

/**/

.toolbar-button-drop-down
{
	line-height: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 10px #8B8B8B;
	-moz-box-shadow: 0 4px 10px #8B8B8B;
	box-shadow: 0 4px 10px #8B8B8B;
	position: absolute;
	z-index: 50;
	color: var(--Dark);
	border-left: solid 4px transparent;
	border-right: solid 4px transparent;
	border-top: solid 4px transparent;
	border-bottom: solid 4px transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #FFFFFF;
}

.toolbar-button-drop-down ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.toolbar-button-drop-down ul li
{
	padding: 5px;
	cursor: pointer;
}

.toolbar-button-drop-down ul li:hover
{
	color: #000;
	background-color: #E5EFF7;
}

.toolbar-button-drop-down ul li a
{
	color: inherit;
	text-decoration: none;
}

.toolbar-button-drop-down ul li img
{
	vertical-align: middle;
}

/* buttons */

.buttons
{
	position: static;
}

.templateTopic .buttons
{
	display: none;
}

.toolbar-buttons
{
	position: absolute;
	top: 7px;
	left: 9px;
	right: 9px;
}

.button-group-container-left
{
	float: left;
	margin-left: -4px;
}

.button-group-container-right
{
	float: right;
	margin-right: -4px;
}

.button-group
{
	float: left;
}

.button-separator
{
	float: left;
	margin: 0 4px;
	width: 1px;
	color: var(--Dark);
	background-color: var(--Dark);
	height: 30px;
}

.button
{
	line-height: 22px;
	margin: 0px 4px;
	float: left;
	cursor: pointer;
	border: solid 1px #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px 0px #FFF;
	-moz-box-shadow: 0px 1px 0px 0px #FFF;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: solid 0px var(--Light);
	border-right: solid 0px var(--Light);
	border-top: solid 0px var(--Light);
	border-bottom: solid 0px var(--Light);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	width: 35px;
	height: 30px;
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.toolbar-buttons .button
{
	background: #ECECEC;
	background: -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: linear-gradient(#FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.button[disabled],
.button.current-topic-index-button.disabled
{
	opacity: 0.5;
}

.button .button-icon
{
	background-repeat: no-repeat !important;
}

.button.previous-topic-button .button-icon
{
	background: transparent url('Images/icon-arrowLeft-30x30-white.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-arrowLeft-30x30-white.png') no-repeat center center;
}

.button.next-topic-button .button-icon
{
	background: transparent url('Images/icon-arrowRight-30x30-white.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-arrowRight-30x30-white.png') no-repeat center center;
}

.button.current-topic-index-button
{
	text-shadow: 0 1px 0 #FFF;
	padding: 0 12px;
	color: var(--Dark);
	font-size: 11px;
	font-weight: bold;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	width: auto;
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.current-topic-index-button.disabled
{
	display: none;
}

.button.expand-all-button .button-icon
{
	background: transparent url('Images/icon-listExpand-30x30-white.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-listExpand-30x30-white.png') no-repeat center center;
}

.button.collapse-all-button .button-icon
{
	background: transparent url('Images/icon-list-30x30.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-list-30x30.png') no-repeat center center;
}

.button.print-button .button-icon
{
	background: transparent url('Images/icon-print-30x30-white.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-print-30x30-white.png') no-repeat center center;
}

.button.remove-highlight-button .button-icon
{
	background: transparent url('Images/icon-clear-30x30-white.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-clear-30x30-white.png') no-repeat center center;
}

.button.select-skin-button .button-icon
{
	background: transparent url('Images/select-skin.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/select-skin.png') no-repeat center center;
}

.button.select-language-button .button-icon
{
	background: transparent url('Images/select-language.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/select-language.png') no-repeat center center;
}

.invisible-label
{
	height: 1px;
	font-size: 0px;
}

/* select-language-button image is dynamically set by javascript */

.button.select-language-button img
{
	vertical-align: middle;
}

.loading
{
	background-image: url("Images/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.loading .button.star-button
{
	visibility: hidden;
}

.button.star-button
{
	border: none;
	width: 16px;
	height: 16px;
	margin: 0px 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button.topic-ratings-button
{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 16px;
	background: transparent url('Images/star-full.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-full.png') no-repeat center center;
	background-size: 16px 16px;
}

.button.topic-ratings-empty-button
{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 16px;
	background: transparent url('Images/star-empty.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-empty.png') no-repeat center center;
	background-size: 16px 16px;
}

.button.login-button .button-icon
{
	background: transparent url('Images/login.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/login.png') no-repeat center center;
}

.button.edit-user-profile-button .button-icon
{
	background: transparent url('Images/edit-profile.png') no-repeat center center;
	-pie-background: transparent url('Skins/Default/Stylesheets/Images/edit-profile.png') no-repeat center center;
}

/* Feedback */

.pulse-frame
{
	width: 100%;
	border: none;
	margin-top: 17px;
	visibility: visible;
	height: 1000px;
}

.feedback-comments-wrapper.feedback-embedded .pulse-frame
{
	display: block;
}

.feedback-comments-wrapper.responsive,
.feedback-comments-wrapper.responsive .pulse-frame,
.pulse-frame.pulse-loading
{
	visibility: hidden;
	height: 1px;
}

.feedback-comments-wrapper.hidden
{
	display: none;
}

.feedback-comments-wrapper .comments-header
{
	margin: 17px 0;
	color: var(--Primary);
	font-size: 2em;
	font-weight: bold;
}

.comments
{
	
}

.comments .comment
{
	padding: 10px;
	max-width: 400px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px var(--Light);
}

.comments .comment:last-child
{
	border-bottom: none;
}

.comments .comment .comment
{
	margin-left: 45px;
}

.comments .username
{
	margin-right: 10px;
	display: none;
	color: var(--Primary);
	font-family: Georgia;
	font-weight: bold;
	font-style: italic;
}

html.feedback-anonymous-enabled .comments .username
{
	display: inline;
}

.comments .timestamp
{
	color: #888;
	font-family: Georgia;
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
}

.comments .subject
{
	color: var(--Dark);
	font-weight: bold;
}

.comments .body
{
	color: var(--Darkest);
}

.comment-form-wrapper
{
	
}

.comment-form-wrapper .username-field,
.comment-form-wrapper .subject-field
{
	width: 200px;
	padding: 5px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.comment-form-wrapper .username-field
{
	display: none;
}

html.feedback-anonymous-enabled .comment-form-wrapper .username-field
{
	display: inline-block;
}

.comment-form-wrapper .body-field
{
	font-family: Arial;
	width: 406px;
	height: 60px;
	padding: 10px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.comment-form-wrapper .field-error
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.comment-form-wrapper .comment-submit
{
	
}

/**/

.mc-template
{
	display: none;
}

#mc-background-tint
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha( opacity = 0 );
	opacity: 0.0;
}

#contentBody #mc-background-tint
{
	position: absolute;
}

#mc-background-tint.light
{
	background-color: #FFF;
}

#mc-background-tint.dark
{
	background-color: #000;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after
{
	content: "";
	display: table;
}

.clearfix:after
{
	clear: both;
}

.clearfix
{
	zoom: 1;
}

span.SearchHighlight
{
	background-repeat: no-repeat;
}

span.SearchHighlight1
{
	
}

span.SearchHighlight2
{
	
}

span.SearchHighlight3
{
	
}

span.SearchHighlight4
{
	
}

span.SearchHighlight5
{
	
}

span.SearchHighlight6
{
	
}

span.SearchHighlight7
{
	
}

span.SearchHighlight8
{
	
}

span.SearchHighlight9
{
	
}

span.SearchHighlight10
{
	
}

.highlightGlossary,
.highlightIndex
{
	font-weight: bold;
}

.tooltip
{
	display: none;
	position: absolute;
	border: 1px solid #707070;
	color: #707070;
	background-color: white;
	padding: .2rem .4rem .2rem .4rem;
	font-size: .75rem;
	z-index: 100001;
	box-shadow: 0px 3px 9px rgba(0,0,0,0.16);
	line-height: 1rem;
	pointer-events: none;
}

button.CloseTopicPopupButton
{
	background: none;
	color: #FFF;
	border: none;
	cursor: pointer;
}

button.CloseTopicPopupButton.CloseTopicOuter
{
	position: relative;
	padding: 0;
	top: -37px;
	right: 4px;
	display: block;
	margin-left: auto;
}

button.CloseTopicPopupButton.CloseTopicInner
{
	font-size: 22px;
}

button.CloseTopicPopupButton:hover,
button.CloseTopicPopupButton:focus
{
	color: #D3D3D3;
}

.CloseTopicPopupButtonContainer
{
	position: absolute;
	width: 100%;
}

button.mc-dropdown-item
{
	border: none;
	background: transparent;
	text-align: left;
	font: inherit;
}

.buttons .button
{
	display: inline-flex;
	overflow: hidden;
}

.buttons .button > div
{
	display: inline-flex;
	margin: auto;
}

.button .button-icon-wrapper
{
	position: relative;
	margin: auto;
	width: 35px;
	height: 30px;
}

.button .button-icon
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.button .button-text
{
	margin-right: 3px;
}

.mc-dropdown-item
{
	display: block;
	width: 100%;
	padding: 5px;
	white-space: nowrap;
	text-decoration: none;
	color: inherit !important;
}

.skip-to-content.fluid-skip
{
	position: relative;
	width: 100%;
	text-align: center;
	display: block;
	padding: 4px;
}

.skip-to-content.tripane-skip
{
	position: absolute;
	left: 0;
	overflow-wrap: break-word;
	z-index: 20000;
	text-align: center;
	padding: .5rem;
	top: 6rem;
	width: 10rem;
}

.highlightGlossary
{
	background-repeat: no-repeat;
	color: var(--Darkest);
	font-weight: bold;
}

.highlightIndex
{
	background-repeat: no-repeat;
	color: var(--Darkest);
	font-weight: bold;
}

span.SearchHighlight.SearchHighlight1
{
	color: var(--Darkest);
	background-color: #ffff66;
}

span.SearchHighlight.SearchHighlight2
{
	color: var(--Darkest);
	background-color: #a0ffff;
}

span.SearchHighlight.SearchHighlight3
{
	color: var(--Darkest);
	background-color: #99ff99;
}

span.SearchHighlight.SearchHighlight4
{
	color: var(--Darkest);
	background-color: #ff9999;
}

span.SearchHighlight.SearchHighlight5
{
	color: var(--Darkest);
	background-color: #ff66ff;
}

span.SearchHighlight.SearchHighlight6
{
	color: var(--Lightest);
	background-color: #880000;
}

span.SearchHighlight.SearchHighlight7
{
	color: var(--Lightest);
	background-color: #00aa00;
}

span.SearchHighlight.SearchHighlight8
{
	color: var(--Lightest);
	background-color: #886800;
}

span.SearchHighlight.SearchHighlight9
{
	color: var(--Lightest);
	background-color: #004699;
}

span.SearchHighlight.SearchHighlight10
{
	color: var(--Lightest);
	background-color: #990099;
}

.button > div
{
	flex-direction: row;
}

.button.collapse-all-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.collapse-all-button > div
{
	
}

.button.collapse-all-button .button-icon-wrapper
{
	
}

.button.edit-user-profile-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.edit-user-profile-button > div
{
	
}

.button.edit-user-profile-button .button-icon-wrapper
{
	
}

.button.expand-all-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.expand-all-button > div
{
	
}

.button.expand-all-button .button-icon-wrapper
{
	
}

.button.login-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.login-button > div
{
	
}

.button.login-button .button-icon-wrapper
{
	
}

.button.next-topic-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.next-topic-button > div
{
	
}

.button.next-topic-button .button-icon-wrapper
{
	
}

.button.previous-topic-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.previous-topic-button > div
{
	
}

.button.previous-topic-button .button-icon-wrapper
{
	
}

.button.print-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.print-button > div
{
	
}

.button.print-button .button-icon-wrapper
{
	
}

.button.remove-highlight-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.remove-highlight-button > div
{
	
}

.button.remove-highlight-button .button-icon-wrapper
{
	
}

.button.select-language-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.select-language-button > div
{
	
}

.button.select-language-button .button-icon-wrapper
{
	
}

.button.select-skin-button
{
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	box-shadow: 0px 0px 0px var(--Lightest);
	-webkit-box-shadow: 0px 0px 0px var(--Lightest);
	-moz-box-shadow: 0px 0px 0px var(--Lightest);
	background: #DADEE1;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%,transparent 100%);
	background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
	background: linear-gradient(transparent 0%,transparent 100%);
	-pie-background: linear-gradient(transparent, transparent);
}

.button.select-skin-button > div
{
	
}

.button.select-skin-button .button-icon-wrapper
{
	
}

.toolbar-button-drop-down.select-language-drop-down
{
	background-color: #FFFFFF;
}

.toolbar-button-drop-down.select-language-drop-down ul li:hover
{
	color: var(--Darkest);
	background-color: #DADEE1;
}

.toolbar-button-drop-down.select-skin-drop-down
{
	background-color: #FFFFFF;
}

.toolbar-button-drop-down.select-skin-drop-down ul li:hover
{
	color: var(--Darkest);
	background-color: #DADEE1;
}

