/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Tripane and PDF/ */

:root
{
	--Primary: #076685;
	--Secondary: #CDE0E7;
	--Dark: #45494C;
	--Darkest: #000000;
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--Medium: #A4AAAE;
	--HeroImage: url('../Images/Hero-Image.png');
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/Logo.png');
	--LogoImagePrint: url('../Images/Logo.svg');
}

